annotated-types==0.7.0
audioop-lts==0.2.2
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
cryptography==48.0.0
decorator==4.4.2
Flask==3.0.0
Flask-Cors==4.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.25.2
google-api-python-client==2.196.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.3
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.71.2
gunicorn==26.0.0
httplib2==0.31.2
idna==3.15
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
moviepy==1.0.3
numpy==2.4.6
packaging==26.2
pillow==12.2.0
proglog==0.1.12
proto-plus==1.28.0
protobuf==5.29.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
pyparsing==3.3.2
python-dotenv==1.0.0
requests==2.31.0
SpeechRecognition==3.10.0
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.7.0
Werkzeug==3.1.8
